{% extends 'layout.twig' %}
 
{% block content %}
    <form action="#" method="POST">
        {{ form_widget(form) }}

        <input type="submit" name="submit" class="button" />
    </form>
{% endblock %}